

button {
  background-color: #be3725; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #a18080;
}

button:hover {
  background-color: #a18080;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3600s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.beauty {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.responsive {
  border: 5px solid gray;
  width: 600px;
  height: 600px;
  margin: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.loading {
  opacity: 0.3;
}

@media screen and (max-width: 600px) {
  .responsive {
    width: 100vw;
    height: 600px;
    margin: 40px 0;
    border-radius: 0;
    overflow: hidden;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
